***Iterating with for loop***

In [3]:
for i in range(4):
  print(i)

0
1
2
3

In [4]:
for i in "ali":
  print(i)

a
l
i

In [5]:
for i in [1,2,3]:
  print(i)

1
2
3

The reason that we can iterate over such objects is: they are special objects called iterables

***Iterable***: An object with an associated iter() method.

Applying iter() method to an iterable creates an ***Iterator***

***Iterator*** produces next value with next()

In [11]:
st="Ali"
iterator=iter(st)
print(iterator)

<str_iterator object at 0x0000019D34499EA0>

In [12]:
st="Ali"
iterator=iter(st)
next(iterator)

'A'

In [13]:
next(iterator)

'l'

In [14]:
next(iterator)

'i'

***Iterating all at once***

In [16]:
st="Ali"
iterator=iter(st)
print(*iterator)

A l i

Functions that take iterators and iterables as arguments: ***list()*** and ***sum()*** functions return a list and the sum of elements, respectively.

In [17]:
obj=range(5)
print(obj)

range(0, 5)

In [19]:
obj_list= list(obj)
print(obj_list)

[0, 1, 2, 3, 4]

In [20]:
obj_sum= sum(obj)
print(obj_sum)

10

***enumerate()***: takes iterable as an argument & returns a special enumerate object

In [21]:
lis=[1,2,3,4]
e= enumerate(lis)
print(type(e))

<class 'enumerate'>

In [22]:
lis=['ali','arifin','nust','pnec']
for i,j in enumerate(lis):
  print(i,j)

0 ali
1 arifin
2 nust
3 pnec

In [23]:
lis=['ali','arifin','nust','pnec']
for i,j in enumerate(lis,start=1):
  print(i,j)

1 ali
2 arifin
3 nust
4 pnec

***zip()***

In [24]:
lis1=['ali','ali','ali','ali']
lis2=[1,2,3,4]
z=zip(lis1,lis2)
print(type(z))

<class 'zip'>

In [25]:

lis1=['ali','ali','ali','ali']
lis2=[1,2,3,4]
for i,j in zip(lis1,lis2):
  print(i,j)

ali 1
ali 2
ali 3
ali 4

In [26]:
lis1=['ali','ali','ali','ali']
lis2=[1,2,3,4]
z=zip(lis1,lis2)
print(*z)

('ali', 1) ('ali', 2) ('ali', 3) ('ali', 4)