**Printing even numbers**

In [3]:
for i in range(10):
  if i%2==0:
    print(i)

0
2
4
6
8

In [4]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [5]:
[i*2 for i in range(5)]

[0, 2, 4, 6, 8]

In [6]:
[i for i in range(0,10,2)]

[0, 2, 4, 6, 8]

**Reverse order**

In [7]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
lis=['a','q','s','w','r']
for i in lis[-3:]:
  print(i)

s
w
r

**endswith**

In [10]:
alist=['ali','wali','alex','zain','kelli']
for i in alist:
  if i.endswith('i'):
    print(i)

ali
wali
kelli

In [12]:
for name in alist:
  if name[-1] == 'i':
    print(name)

ali
wali
kelli

In [14]:
for name in alist:
  if name[-1] == 'i' and len(name)>4:
    print(name)

kelli

**user inputs and break/continue**

In [15]:
f1= input("enter name \t")
f2= input("enter name \t")
f3= input("enter name \t")
emplist=[]
for i in [f1,f2,f3]:
  emplist.append(i)
emplist

['ali', 'qasim', 'noah']

In [19]:
num_of_friends=int(input("how many friends you wanna invite?"))
empty_list=[]
for i in range(num_of_friends):
  empty_list.append(input("enter friend's name"))
empty_list

['ali', 'alex', 'mike']

In [20]:
for i in range(10):
  print(i)
  if i==5:
    break

0
1
2
3
4
5

In [21]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [24]:
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [25]:
name=['ali','ahmed','alex','aliyaan']
grade=['A','A+','C','D']
for i in range(len(name)):
  print(name[i]+":"+grade[i])

ali:A
ahmed:A+
alex:C
aliyaan:D

In [26]:
name=['ali','ahmed','alex','aliyaan']
grade=['A','A+','C','D']
for i in range(len(name)):
  if grade[i]=='A+':
    continue
  print(name[i]+":"+grade[i])

ali:A
alex:C
aliyaan:D

In [47]:
mylis=[input("enter nums") for i in range(4)]
mylis

['5', '4', '3', '2']

In [48]:
sum=0
for i in range(4):
  num=int(input("enter nums"))
  print(num)
  sum=sum+num
print(sum)

5
4
3
2
14

In [49]:
a=input("enter nums in one line")
a=a.split(' ')
print(a)
sum=0
for i in a:
  sum=sum+int(i)
print(sum)

['5', '4', '3', '2']
14

In [52]:
lis1=[]
while True:
  name=input("enter guest name or type 'q' to quit")
  if name=='q':
    break
  lis1.append(name)
lis1

['ali', 'bilal', 'kazi', 'syed']

In [54]:
list1=[]
flag=True
while flag:
  name=input("enter guest name or type 'q' to quit")
  if name=='q':
    flag=False
  list1.append(name)
list1.pop()
list1

['ali', 'aliyaan', 'alizay', 'aliya']

In [55]:
list=[]
flag=True
while flag:
  name=input("enter guest name or type 'q' to quit")
  if name=='q':
    flag=False
  else:
    list.append(name)
list

['ali', 'alex', 'noah', 'simon']

**tables**

In [56]:
for j in range(11):
  print(str(5)+'X'+str(j) +"="+str(5*j))

5X0=0
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [57]:
for i in range(2,4):
  for j in range(11):
    print(str(i)+'X'+str(j) +"="+str(i*j))

2X0=0
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20
3X0=0
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

In [58]:
[i*j for i in range(2,4) for j in range(11)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

**dictionary**

In [60]:
dict={'name':'ali', 'age':24, 'exp':1}
for i in dict:
  print(i)

name
age
exp

In [61]:
dict={'name':'ali', 'age':24, 'exp':1}
for i in dict.keys():
  print(i)

name
age
exp

In [62]:
dict={'name':'ali', 'age':24, 'exp':1}
for i in dict.values():
  print(i)

ali
24
1

In [63]:
dict={'name':'ali', 'age':24, 'exp':1}
for i in dict.items():
  print(i)

('name', 'ali')
('age', 24)
('exp', 1)

In [64]:
a=1,2
type(a)

tuple

In [65]:
fruit=['apple','carrot','grapes','mangoes','strawberry']
dict={'apple':10, 'carrot':20, 'grapes':30, 'mangoes':40}
for f in fruit:
  if f in dict.keys():
   dict[f]+=1
  else:
    dict[f]=50
dict

{'apple': 11, 'carrot': 21, 'grapes': 31, 'mangoes': 41, 'strawberry': 50}

**create dictionary from list**

In [66]:
fruit=['apple','apple','apple','carrot','carrot','grapes','mangoes','strawberry']
dict={}
for f in fruit:
  if f in dict.keys():
   dict[f]+=1
  else:
   dict[f]=1
dict

{'apple': 3, 'carrot': 2, 'grapes': 1, 'mangoes': 1, 'strawberry': 1}

**global variables**

In [67]:
a=1
def change():
  global a
  a=2
change()
print(a)

2

In [68]:
def square(val):
  global newval
  newval=val*val
  return newval
print(square(4), newval +1)

16 17

In [69]:
newval=10
def square(val):
  newval=val*val
  return newval
print(square(4),newval)

16 10