**Looping through multiple lists**

In [1]:
a=[1,2,3,4,5]
c=[6,7,8]
d=[9,10]

for num in a,c,d:
  print(num)

[1, 2, 3, 4, 5]
[6, 7, 8]
[9, 10]

**List Concatenation**

In [2]:
a=[3,4,5]
print(a+a)

[3, 4, 5, 3, 4, 5]

In [3]:
import numpy as np
a=[3,4,5]
narray=np.array(a)
print(narray+narray)     # concatenation doesn't work like this in numpy

[ 6  8 10]

In [4]:
np.concatenate((narray,narray))   # concatenation in numpy

array([3, 4, 5, 3, 4, 5])

**even and odd number list**

In [6]:
num=[1,2,3,4,5,6,7,8,9,10,11]
even=[]
odd=[]
for i in range(1,len(num),2):
    even.append(num[i])
print(even)

for j in range(0,len(num),2):
    odd.append(num[j])
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

**separate unique numbers from a list**

In [7]:
a=[1,2,1,3,1,4,5,5,5,2]
d=[]
u=[]
for i in a:
    if a.count(i) >1:
        d.append(i)
    else:
        u.append(i)
print(d)
print(u)

[1, 2, 1, 1, 5, 5, 5, 2]
[3, 4]

**index(element,start)**

In [8]:
lis=[1,2,3,1,1,3]     # this list contains two 3s
for i in range(6):
    print(lis.index(3,i))   # index(element,start)

2
2
2
5
5
5

In [10]:
q=[1,2,3,4,1,2]
for i in q:
    print(q.index(i))      # default starting position is zero

0
1
2
3
0
1

**how many square numbers?**

In [11]:
nums=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
square=0
for i in nums:
    for j in nums:
        if j==i*i:
            square=square+1
print(square)

4

**which sub-array has largest sum?**

In [16]:
a=[[1,2],[3,4],[15,6],[1,3],[9,8]]
b=[]
for i in range(len(a)):
    b.append(sum(a[i]))
print(f'the index of sub-array that has largest sum is {b.index(max(b))} and the sum is {max(b)}')

the index of sub-array that has largest sum is 2 and the sum is 21

**playing with string**

In [18]:
st="ali is a good boy"
a=st[::-1].split(' ')
a.reverse()

for i in a:
    print(i,end=" ")

ila si a doog yob

In [19]:
st="ali is a good boy"
a=st.split(' ')
a.reverse()

for i in a:
    print(i,end=" ")

boy good a is ali

**convert list to string**

In [20]:
mylist1=["Ali","arifin","25"]
sep=" " 
sep.join(mylist1)

'Ali arifin 25'

**sort with key**

In [28]:
names=['john','ali','hassan','saad','hussain']
names.sort()     # without key
names

['ali', 'hassan', 'hussain', 'john', 'saad']

In [29]:
def mylength(a):
    return len(a)

the_names=['john','ali','hassan','saad','hussain']
the_names.sort(key=mylength)
the_names

['ali', 'john', 'saad', 'hassan', 'hussain']

**insert(index, element)**

In [33]:
a=[]
a.insert(43,0)         # insert(index, element)
a

[0]

**convert float to integer**

In [41]:
int(5.8)

5

**expanding list and string**

In [35]:
["ali"] *5

['ali', 'ali', 'ali', 'ali', 'ali']

In [36]:
"ali" *5

'alialialialiali'

In [37]:
["ali" for i in range(5)]

['ali', 'ali', 'ali', 'ali', 'ali']

**bool**

In [38]:
arr1=["ali",""," ",4]
for i in range(len(arr1)):
 print(bool(arr1[i]))

True
False
True
True

**sum of all digits**

In [39]:
num=9113691
a=str(num)
sum=0
  
for i in a:
    sum=sum +int(i) 
    
print(sum)

30

**find square root**

In [40]:
num=4
sq=(num**0.5)
print(sq)
print(type(sq))

2.0
<class 'float'>