**if-elif-else**

In [1]:
points=int(input('enter points'))
if points in range(51):
  print("no prize")
elif points in range(51,101):
  print("eligible for prize")
else:
  print('congrats! you have won the prize!')

eligible for prize

In [2]:
a=6
if 2<=a<=5:
  print("hi")

In [3]:
a=5
if 2<=a<=5:
  print("hi")

hi

In [4]:
points = 174  
prize=None

if points <=50:
    prize='wooden rabbit'
elif 151 <= points <= 180:
    prize='wafer-thin mint'
elif points>180:
    prize='penguin'

if prize:
    result="Congratulations! You won a {}!".format(prize)
else:
    result="Oh dear, no prize this time."

print(result)

Congratulations! You won a wafer-thin mint!

In [5]:
a=None
if a:
  print('hi')
b='string'
if b:
  print('hello')

hello

**create list by list()**

In [6]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [7]:
print(list(range(0,-5)))

[]

In [9]:
print(list(range(0,-5,-1)))

[0, -1, -2, -3, -4]

In [8]:
print(list(range(-5,0)))

[-5, -4, -3, -2, -1]

**playing with list and string**

In [10]:
usernames = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

for i in range(len(usernames)):
    usernames[i]=usernames[i].lower().replace(' ','_')
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [11]:
tokens = ['<greeting>', 'Hello World!', '</greeting>', '<hello>']
count = 0

for i in tokens:
    if i[0]=='<' and i[-1]=='>':
      count+=1

print(count)

3

In [12]:
lis=['ali','arifin','25']
'---'.join(lis)

'ali---arifin---25'

**create list from dictionary**

In [13]:
lis=['a','a','s','d','f','f','f','f']
emptydic={}
for i in lis:
  if i not in emptydic.keys():
    emptydic[i]=1
  else:
    emptydic[i]+=1
emptydic

{'a': 2, 's': 1, 'd': 1, 'f': 4}

In [14]:
lis=['a','a','s','d','f','f','f','f']
emptydic={}
for i in lis:
  if i in emptydic.keys():
    emptydic[i]+=1
  else:
    emptydic[i]=1
emptydic

{'a': 2, 's': 1, 'd': 1, 'f': 4}

In [15]:
lis=['a','a','s','d','f','f','f','f']
emptydic={}
for i in lis:
  if i in emptydic:
    emptydic[i]+=1
  else:
    emptydic[i]=1
emptydic

{'a': 2, 's': 1, 'd': 1, 'f': 4}

The **get()** method returns the value of the item with the specified key.

Syntax : Dict.get(key, Value)

Parameters: 

key: The key name of the item you want to return the value from

Value: (Optional) Value to be returned if the key is not found. The default value is None.

In [16]:
a={'name':'ali','age':25}
a.get('age')

25

In [18]:
a={'name':'ali','age':25}
a.get('age',0) +1

26

In [19]:
lis=['a','a','s','d','f','f','f','f']
emptydic={}
for i in lis:
    emptydic[i] = emptydic.get(i, 0) + 1
emptydic

{'a': 2, 's': 1, 'd': 1, 'f': 4}

**dictionary**

In [20]:
a={'name':'ali','age':25}
for i in a:
  print(i)

name
age

In [21]:
for i in a.items():
  print(i)

('name', 'ali')
('age', 25)

In [22]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for i in basket_items:
  if i in fruits:
    result+=basket_items[i]

print(result)

23

In [23]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for i,j in basket_items.items():
   if i in fruits:
       result += j
print(result)

23

**find factorial**

In [25]:
num=4
fact=1
for i in range(2,num+1):
  fact=fact*i
print(f'factorial of {num} is {fact}')

factorial of 4 is 24

In [ ]:
num=4
fact=1
while num>1:
  fact*=num
  num-=1
print(f'factorial of {num} is {fact}')   # wrong output!

factorial of 1 is 24

there's a small logic issue in the final print statement above.

It's updating num in the loop, so by the time we reach the print() statement, num is no longer 4 — it's been decremented down to 1

To fix this:

In [28]:
num = 4
original_num = num
fact = 1
while num > 1:
    fact *= num
    num -= 1
print(f'factorial of {original_num} is {fact}')

factorial of 4 is 24

**a recursive function to calculate the factorial of a number**

In [32]:
def fact(n):
  if n in [0,1]:
    return 1
  return n*fact(n-1)

n = 4
result = fact(n)
print(f"Factorial of {n} is {result}")

Factorial of 4 is 24

**largest perfect square less than a given limit**

In [34]:
limit = 50
num=0

while (num+1)**2<limit:
  num+=1
  
square=num**2
print(square)

49

**prime number checker**

In [38]:
check_prime = [26, 39, 51, 53, 57, 79, 85, 2]

for i in check_prime:
    for j in range(2,i):
        if i%j==0:
            print(f"{i} is NOT a prime number, because {j} is a factor of {i}")
            break
    else:
        print(f"{i} is a prime number")

26 is NOT a prime number, because 2 is a factor of 26
39 is NOT a prime number, because 3 is a factor of 39
51 is NOT a prime number, because 3 is a factor of 51
53 is a prime number
57 is NOT a prime number, because 3 is a factor of 57
79 is a prime number
85 is NOT a prime number, because 5 is a factor of 85
2 is a prime number

In [41]:
check_prime = [26, 39, 51, 53, 57, 79, 85, 2]

for i in check_prime:
    for j in range(2,int(i**0.5)):      # this is more efficient, no need to loop through i
        if i%j==0:
            print(f"{i} is NOT a prime number, because {j} is a factor of {i}")
            break
    else:
        print(f"{i} is a prime number")

26 is NOT a prime number, because 2 is a factor of 26
39 is NOT a prime number, because 3 is a factor of 39
51 is NOT a prime number, because 3 is a factor of 51
53 is a prime number
57 is NOT a prime number, because 3 is a factor of 57
79 is a prime number
85 is NOT a prime number, because 5 is a factor of 85
2 is a prime number

**zipping without zip function**

In [42]:
x=['name','place','animal']
y=['ali','pakistan','cat']
for i in range(len(x)):
  print(x[i]+':'+ y[i])

name:ali
place:pakistan
animal:cat

**zipping with zip**

In [43]:
for i,j in zip(x,y):
  print(i+':'+j)

name:ali
place:pakistan
animal:cat

**zip produces tuple!**

In [44]:
for i in zip(x,y):
  print(i)

('name', 'ali')
('place', 'pakistan')
('animal', 'cat')

In [45]:
a=list(zip(x,y))
a

[('name', 'ali'), ('place', 'pakistan'), ('animal', 'cat')]

**unzipping**

In [46]:
key, value = zip(*a)
print(key,value,sep='\n')

('name', 'place', 'animal')
('ali', 'pakistan', 'cat')

In [47]:
letters = ['a', 'b', 'c']
nums = [1, 2, 3]

for letter, num in zip(letters, nums):
    print("{}: {}".format(letter, num))

a: 1
b: 2
c: 3

In [48]:
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
for i,j,k,l in zip(labels,x_coord,y_coord,z_coord):
    string=f"{i}: {j}, {k}, {l}"
    points.append(string)
points

['F: 23, 677, 4',
 'J: 53, 233, 16',
 'A: 2, 405, -6',
 'Q: -12, 433, -42',
 'Y: 95, 905, 3',
 'B: 103, 376, -6',
 'W: 14, 432, 23',
 'X: -5, 445, -1']

In [49]:
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
for point in zip(labels, x_coord, y_coord, z_coord):
    points.append("{}: {}, {}, {}".format(*point))

points

['F: 23, 677, 4',
 'J: 53, 233, 16',
 'A: 2, 405, -6',
 'Q: -12, 433, -42',
 'Y: 95, 905, 3',
 'B: 103, 376, -6',
 'W: 14, 432, 23',
 'X: -5, 445, -1']

In [50]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = {}
for i in zip(cast_names,cast_heights):
    cast[i[0]]=i[1]
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

**dict function**

In [51]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast= dict(zip(cast_names,cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

unzipping

In [52]:
cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))

names,heights=zip(*cast)

print(names)
print(heights)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(72, 68, 72, 66, 76)

**converting 4x3 matrix into 3x4 by zip and tuple function**

In [53]:
data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

data_transpose = tuple(zip((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11)))
print(data_transpose)

((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

**using enumerate does not need range(len)!**

In [54]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i in range(len(cast)):
  cast[i]=cast[i]+' '+ str(heights[i])
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

In [55]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i,j in enumerate(cast):
  cast[i]=cast[i]+' '+ str(heights[i])
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

**list comprehension**

In [56]:
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [i for i in scores if scores[i] >65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [57]:
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']