In [2]:
import pyfiglet
result = pyfiglet.figlet_format("Playing with Python")
print(result)

 ____  _             _                        _ _   _
|  _ \| | __ _ _   _(_)_ __   __ _  __      _(_) |_| |__
| |_) | |/ _` | | | | | '_ \ / _` | \ \ /\ / / | __| '_ \
|  __/| | (_| | |_| | | | | | (_| |  \ V  V /| | |_| | | |
|_|   |_|\__,_|\__, |_|_| |_|\__, |   \_/\_/ |_|\__|_| |_|
               |___/         |___/
 ____        _   _
|  _ \ _   _| |_| |__   ___  _ __
| |_) | | | | __| '_ \ / _ \| '_ \
|  __/| |_| | |_| | | | (_) | | | |
|_|    \__, |\__|_| |_|\___/|_| |_|
       |___/

**sorted()**

In [7]:
a=["ali50","arifin22","karachi32", "pakistan54"]
b=sorted(a,key=lambda x:x[-2:])     # sorts the list based on the last 2 characters of each string.

print(b)

['arifin22', 'karachi32', 'ali50', 'pakistan54']

In [11]:
s="abab"
s=list(s)
print(s)
print(sorted(s))

['a', 'b', 'a', 'b']
['a', 'a', 'b', 'b']

The sorted() function sorts the list based on the first element of each inner list by default, and if there's a tie, by the second element

In [29]:
intervals = [[9, 3], [2, 5], [6, 9]]
sorted(intervals)

[[2, 5], [6, 9], [9, 3]]

**longest string of zeros**

In [30]:
a="110100010"
y=a.split("1")
print(y)
max(y)

['', '', '0', '000', '0']

'000'

**copy list**

In [12]:
a=[1,2,3]
b=a
print(id(a))
print(id(b))

2625357998592
2625357998592

In [13]:
a=[1,2,3]
b=a[:]
print(id(a))
print(id(b))

2625357996864
2625346347584

**ord() and chr()**

The **ord()** function takes a single Unicode character (as a string of length 1) as its argument.
It returns the integer representing the Unicode code point of that character.

In [14]:
ord("a")

97

In [15]:
ord("A")

65

The **chr()** function takes an integer as its argument.
This integer must represent a valid Unicode code point (ranging from 0 to 1,114,111).
It returns the Unicode character corresponding to that integer code point

In [16]:
chr(97)

'a'

In [17]:
chr(65)

'A'

In [19]:
a={chr(i+96):i for i in range(1,27)}
a

# chr(97) is 'a'
# chr(98) is 'b'

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

The **all()** function returns True if all items in an iterable are true, otherwise it returns False.

If the iterable object is empty, the all() function also returns True.

In [23]:
mylist = [0, 1, 1]
x = all(mylist)
x

False

In [24]:
mylist = [1, 1, 1]
x = all(mylist)
x

True

**set difference**

In [26]:
nums1 = [1,2,3]
nums2 = [2,4,6]
print(set(nums1)-set(nums2))   # prints the set of elements that are in nums1 but not in nums2.

{1, 3}

In [27]:
nums1 = [1,2,3]
nums2 = [2,4,6]
print(set(nums2)-set(nums1))

{4, 6}