**print last digit of a number**

In [1]:
num=input("enter num")
print(int(num[-1]))

4

In [4]:
num=int(input("enter num"))
print(num%10)

4

**leap year**

In [5]:
year=int(input("enter year"))
if (year % 4 == 0 and year % 100 != 0 or year % 400 == 0):
  print('leap year')
else:
  print('normal')

normal

**Pattern Making**

In [6]:
for i in range(5):
    print("*"*i)

*
**
***
****

**Factorial**

In [7]:
num = int(input("enter no."))
factorial=1
for i in range(1, num+1):
    factorial=factorial*i
print(f"factorial of {num} is {factorial}")

factorial of 5 is 120

**Sum of digits up to n**

In [8]:
num = int(input("enter no."))
sum = 0
while(num > 0):
    sum = sum + num
    num = num - 1
print("The sum is", sum)

The sum is 15

**Prime Number Checker**

In [11]:
a=int(input("enter a number"))
prime=True
for i in range(2,a):
    if (a%i == 0):
        prime=False
        

if prime==True:
    print("prime")
else:
    print("not prime")

not prime

**for-continue**

In [12]:
for i in range(1,21):
  if (i%2==0) or (i%3==0):
    continue
  else:
    print(i)

1
5
7
11
13
17
19

**sum the integers till user inputs 0**

In [21]:
import numpy as np
flag=True
numlist=[]
while flag:
  a=int(input("enter nums"))
  numlist.append(a)
  if a==0:
    flag=False
print(numlist)
np.sum(numlist)

[4, 5, 6, 0]

np.int64(15)

**skip odd nums in for-loop**

In [23]:
for i in range(12,38):
  if i%2!=0:
    continue
  else:
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36

**multiplication table**

In [24]:
num=int(input("enter num"))
for i in range(num+1):
  print(num,'X',i,'=',num*i)

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

**sum the digits**

In [28]:
num=input("enter digits")
a=[]
for i in range(len(num)):
  a.append(int(num[i]))
np.sum(a)

np.int64(10)

**string to set**

In [29]:
set('234')

{'2', '3', '4'}

**compare 2 sets**

In [30]:
set('234') < {'2','3','4','5'}

True

**add to a set**

In [31]:
a={1,2,3}
a.add(4)
print(a)
a.discard(1)
print(a)

{1, 2, 3, 4}
{2, 3, 4}

**Add multiple items to the set**

In [32]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

**string to list**

In [33]:
list('234')

['2', '3', '4']

**compare 2 lists**

In [34]:
list('234') < ['2','3','4','5']

True

In [35]:
[0,0,3]>[0,1,1,1,1,1,1,1,1,1,1]

False

**sort a list**

In [36]:
a=['a','q','w','e']
a.sort()
a

['a', 'e', 'q', 'w']

**binary to decimal**

In [38]:
binary=input('enter binary')
dec=int(binary,2)
dec

5

**decimal to binary**

In [39]:
dec=int(input('enter decimal'))
print('{0:b}'.format(dec))

101

In [40]:
bin(56)

'0b111000'

In [41]:
bin(56).replace("0b","")

'111000'

**function (print vs return)**

In [45]:
def myfunc():
  print('hello')
myfunc()

hello

In [46]:
print(myfunc())

hello
None

In [47]:
def myfunc2():
  return "hello"
print(myfunc2())

hello

**function returns a dictionary**

In [48]:
def data(fname,lname,age):
  return {'firstname':fname,'lastname':lname,'age':age}
data('ali','arifin',24)

{'firstname': 'ali', 'lastname': 'arifin', 'age': 24}

**arbitiary args**

In [50]:
def alifun(*params):
  print(params)
alifun(1,2,3,4)

(1, 2, 3, 4)

In [51]:
def alifunc(para, *params):
  print(para, params)
alifunc(1,2,3,4)

1 (2, 3, 4)

**keyword arguments**

In [52]:
def alifunction(**params):
  print(params)
alifunction(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

**join() method WITHOUT passing array or tuple**

In [53]:
"".join("ali" "arifin" "hello")

'aliarifinhello'

**LCM of 2 and n**

In [56]:
def ali(n):
    if n==1:
        return 2
    else:    
        for i in range(1,n+1):
            for j in range(1,n+1):
                if n*i==2*j:
                    return n*i
ali(30)

30

**Pascal Triangle**

In [58]:
import math
n=4
if n==0:
    print([1])
elif n==1:
    print([1,1])
else:
    a=[1]
    for i in range(1,n):
        a.append(math.comb(n,i))
    a.append(1)
    print(a)

[1, 4, 6, 4, 1]

**List Contains Duplicate**

In [60]:
a=[1,3,3,4]
len(set(a))!=len(a)

True

**permutations**

In [64]:
from itertools import permutations
a=permutations("ali")
list(a)

[('a', 'l', 'i'),
 ('a', 'i', 'l'),
 ('l', 'a', 'i'),
 ('l', 'i', 'a'),
 ('i', 'a', 'l'),
 ('i', 'l', 'a')]