**playing with strings**

In [4]:
mytitle="pirAteS Of the caRibBeaN" 
mytitle.title()

'Pirates Of The Caribbean'

In [5]:
movie="pirAteS Of the caRibBeaN"
words=movie.split(" ")
a=[]
for i in words:
    if i.lower() in ["in", "or", "and", "of", "the"]:
        a.append(i.lower())
    else:
        a.append(i.title())
print(" ".join(a))

Pirates of the Caribbean

In [29]:
"aali".replace("aa","")

'li'

In [26]:
"ali" < "almi"

True

In [51]:
"abca".index("a")

0

In [52]:
"rimkibmvpnhlgtdkazshyilqmywn".split("a")

['rimkibmvpnhlgtdk', 'zshyilqmywn']

**playing with dictionaries**

In [6]:
x = ['key1', 'key2', 'key3']
thisdict = dict.fromkeys(x,5)
print(thisdict)

{'key1': 5, 'key2': 5, 'key3': 5}

In [ ]:
my_key=["name", "place", "animal"]
my_value=["Ali", "Karachi", "Cat"]
my_dict= {i:j for i,j in zip(my_key, my_value)}     # dictioary comprehension
my_dict

{'name': 'Ali', 'place': 'Karachi', 'animal': 'Cat'}

In [36]:
d={"tophat":2,"bowtie":4,"monocle":5}
items=["tophat","monocle"]
sum=0
for i in items:
    if i in d:
        sum=sum+d[i]
print(sum)

7

In [37]:
from collections import Counter
s="aliarifin"
print(Counter(s))

Counter({'i': 3, 'a': 2, 'l': 1, 'r': 1, 'f': 1, 'n': 1})

**playing with arrays and lists**

In [2]:
import numpy as np
arr = np.array([1, 2, 3, 4])
print(arr * 2)

[2 4 6 8]

In [3]:
import array as arr
balance=arr.array("i",[100,200,300])
print(balance)
balance.insert(1,400)
print(balance)

array('i', [100, 200, 300])
array('i', [100, 400, 200, 300])

In [8]:
a=[1,2,3,4]
b=[1,1,1,1]
z=list(zip(a,b))
print(z)

[(1, 1), (2, 1), (3, 1), (4, 1)]

In [9]:
list("ali")

['a', 'l', 'i']

In [10]:
a=["a","s","q","f","d"]
for i in a:
    print(ord(i))

b=dict.fromkeys(a)
b

97
115
113
102
100

{'a': None, 's': None, 'q': None, 'f': None, 'd': None}

In [30]:
a=[1,2,3,4]
a.remove(4)
a

[1, 2, 3]

In [46]:
max(["56","4","6"])

'6'

In [47]:
a=[30, 10, 35, 20, 30, 12, 42, 24, 10, 12, 14, 8, 35, 42, 14, 28, 20, 24, 8, 28]
for i in range(len(a)-1):
    print(a[i]-a[i+1])

20
-25
15
-10
18
-30
18
14
-2
-2
6
-27
-7
28
-14
8
-4
16
-20

**playing with sets**

In [18]:
x=set("aaaa")
x

{'a'}

In [19]:
y=set("ab")
y

{'a', 'b'}

In [20]:
x in y

False

In [23]:
for i in x:                    # using for loop because Python sets do not support indexing
    if i in y:
        print(True)

True

In [24]:
{1,4,3}.intersection({4,5,6})

{4}

In [25]:
3 in {1,2}

False

In [33]:
set([2,3,4,5,6,6])

{2, 3, 4, 5, 6}

In [54]:
list(set("aab")) == list("aab")

False

In [329]:
list(set("xyy"))

['x', 'y']

**binary and decimal**

In [43]:
int("1101",2)            # binary to decimal

13

In [41]:
bin(5)

'0b101'

In [40]:
bin(5).replace("0b","")

'101'

In [ ]:
2//2      # floor division operator in Python

1

In [56]:
3//2

1